*{
    margin: 0;
    padding: 0;
}

/* header section startssssssssss------------------------------------------------ */

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url('https://i.pinimg.com/originals/2d/ed/43/2ded43260f5e12581e68b2f711b5d797.gif');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 50px;
    filter: brightness(100);
}

.nav-links{
    flex: 1;
text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}


.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
}

.text-box h1{
    font-size: 72px;
    color: #ffffff;
    font-family: "Fira Sans Condensed", sans-serif; 
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 17px;
    font-style: italic;
    color: #ffffff;
    font-weight: 500;
}



.text-box .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 3px solid transparent;
    padding: 15px 36px;
    font-size: 13px;
    background: #38220f;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    height: 20px;
    width: 180px;
}

.text-box .hero-btn:hover{
   background: transparent;
   border: 3px solid #ffffff;
   color: #ffffff;
   
}

nav .fa-solid{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 29px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #38220f;
        color: #fff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

     nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}


/* header      section      endssssssss--------------------------------------------------------------- */

/* about section startssssssssssssssssssssssssss---------------------------------- */
.about-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    background-color: #504842;

}
.about-section .img-left, .about-section .about-text{
    color: rgb(25, 23, 22);
}
.about-section .img-left img{
    width: 100%;
}
.about-section .about-text{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 50px;
    gap: 50px;
    flex-direction: column;
    background-color: white;

}
.about-section .img-left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.about-section .about-text h1{
    font-size: 70px;
    color: black;
    position: relative;
}
.about-section .about-text h1::after{
    position: absolute;
    content: "";
    width: 25%;
    background: red;
    height: 6px;
    bottom: -6px;
    right: 0px;
}
.about-section .about-text p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: "Fira Sans Condensed", sans-serif;
}
.about-section .about-text a{
    background: rgb(132, 54, 9);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 15px 60px;
    position: relative;
    font-family: "Crimson Text", serif;
}
.about-section .about-text a:hover{
    background-color: transparent;
    color: black;
}
.about-section .about-text a::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    height: 3.5px;
    background-color: black;
    width: 0%;
}
.about-section .about-text a:hover::before{
    left: 0;
    width: 100%;
    transition: 0.9s ease-in-out;
}
.about-section .about-text a::after{
    position: absolute;
    content: "";
    right: 50%;
    bottom: 0;
    height: 3.5px;
    background-color: black;
    width: 0%;
}
.about-section .about-text a:hover::after{
    width: 100%;
    transition: 0.9s ease-in-out;
    right: 0;
}
@media(max-width:700px){
    .about-section{
        grid-template-columns: repeat(1,1fr);
        position: relative;
    }
    .about-section .about-text{
        align-items: center;
        text-align: center;
    }
    .about-section .about-text h1{
        font-size: 40px;
    }
    .about-section .about-text p{
        font-size: 18px;
    }
}

/* about section endssssssssssssssssssssssss---------------------------------------------- */

/* product section startsssssssssssssssssss---------------------------------------------------------------- */
.product-section{
    width: 100%;
}
.p-text{
    text-align: center;
    margin-top: 130px;
    font-size: 50px;
    font-family: Butler;
    background-color: rgb(164, 89, 39);
    color: white;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 39px;
    width: 1200px;
    margin-left: 140px;
}
.card{
    background-color: #fff;
    align-items: center;
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.553);
}
.card img{
    height: 130px;
}
.card .text{
    display: block;
    margin-left: 40px;
}
.card a{
    width: 110px;
    height: 60px;
    margin-left: 21px;
    background-color: rgb(112, 19, 19);
    color: white;
    text-decoration: none;
    font-size: 16px;text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}
.card:hover a{
    visibility: visible;
}
.cate-1{
    font-family: Butler;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
    font-size: 50px;
    
}
@media(max-width: 600px)
{ 
    .product-section{
        position: relative;
        top:500px;
    }
    .p-text{
        font-size: 25px;
        margin: 0px;
        background-color: rgb(165, 75, 42);
        color: white;
    }
    .cards{
        grid-template-columns: repeat(1,1fr);
        width: 250px;
        margin-left: 25px;
    }
    .card{
        width: 300px;
        border: 1px solid grey;
        overflow: hidden;
    }
    .card img{
        height: 100px;
    }
    .card .text{
        font-size: 10px;
    }
    .cate-1{
        font-size: 17px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .card a{
        width: 80px;
        position: relative;
        font-size: 12px;
        left: 105px;
        margin-left: 41px;
    }
    .card:hover a{
        left: -0px;
        transition: 0.9s ease-in-out;
    }
}


/* product section endssssssssssssssss---------------------------------------------------- */
